*.class
hs_err_pid*
.mtj.tmp/

# Eclipse #
.classpath
.metadata
.settings
/.settings
/bin
*.launch
/.jxbrowser-data
/dvt
/plugins
/RemoteSystemsTempFiles

# MacOS #
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows #
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# GNU/Linux #
*~
.directory

# Vim #
~*
*.swp
.*.swp